<style media="screen">
  .hero-section { background-image: url(<%= @latest_post.image %>); }
</style>

<% if admin_signed_in? %>
  <%= render 'admin-nav' %>
<% end %>

<%= render 'navbar' %>

<div class="page-container welcome">

  <h2>Dernier article</h2>
  <div class="decor-line"></div>

  <div class="container-fluid">
    <div class="col-lg-12 col-xs-12 hero-section">
      <h3><%= link_to @latest_post.title, @latest_post %></h3>
      <ul>
        <li class="tag">Voyage</li>
        <li class="tag">Ville</li>
        <li class="tag">Goald Coast</li>
      </ul>
      <div class="decor-line"></div>
      <p class="date"><%= @latest_post.created_at.strftime("%A, %b %d") %></p>
    </div>
  </div>

  <h2>Articles précédents</h2>
  <div class="decor-line"></div>

  <div class="row">

    <% @posts.first(6).each do |post| %>

          <div class="col-lg-4 col-md-6 col-sm-12 post-card">
            <div class="image-crop">
              <%= image_tag post.image.url(:medium) %>
            </div>
            <h3><%= post.title.first(35) %></h3>
            <p class="post-summary"><%= post.content.first(200) %>...</p>
            <p class="date"><span>Publié le :</span> <%= post.created_at.strftime("%A, %b %d") %></p>
            <%= link_to 'Lire', post, :class => 'action-btn no-margin' %>
          </div>

    <% end %>

  </div>

  <%= link_to 'Voir tous les articles', posts_path, :class => 'action-btn welcome-action-btn' %>

</div>

<%= render 'footer' %>
